nav a.active {
    color: coral
}

/* FIX SIDENAV SPACING */
.side-nav li>a {
  padding: 0 16px;
}
/* FIX SIDEBAR DIVIDERS */
.side-nav .divider {
  margin:0;
  height:8px;
  border-bottom:1px solid #e0e0e0;
  background-color: transparent;
}








