<nav class="nav-extended">
    <div class="nav-wrapper blue-grey darken-4">
  
      <a class="brand-logo center orange-text">
        <i class="material-icons right">account_balance_wallet</i>WealthFi</a>
      <a data-activates="mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Login</a>
        </li>
      </ul>
  
      <ul class="side-nav" id="mobile">
        <li class="sidenav-header blue-grey">
          <div class="row">
            <div class="col s3">
              <img src="https://gravatar.com/avatar/961997eb7fd5c22b3e12fb3c8ca14e11?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png"
                width="48px" height="48px" alt="" class="circle responsive-img valign profile-image">
            </div>
            <div class="col s9">
              <h4 class="waves-effect waves-light white-text" href="#" hoverable>AndrewJ
              </h4>
            </div>
          </div>
        </li>
  
        <li>
          <a href="#">bankOnPEAF</a>
        </li>
        <li class="grey darken-4">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header white-text waves-effect waves-blue ">
                <i class="material-icons white-text ">language</i>Language
                <i class="material-icons right white-text" style="margin-right:0;">arrow_drop_down</i>
              </a>
              <div class="collapsible-body z-depth-3">
                <ul>
                  <li>
                    <a class="waves-effect waves-blue" href="#">English</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">العربية</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">中文</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">Čeština</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">Nederlands</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">Français</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">Deutsch</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">한국어</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">Português</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">Русский</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">Español</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">Svenska</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">ภาษาไทย</a>
                  </li>
                  <li>
                    <a class="waves-effect waves-blue" href="#">Türkçe</a>
                  </li>
                  <li>
                    <div class="divider"></div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
  
        <li class="blue-grey darken-4">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header white-text waves-effect waves-blue ">
                <i class="material-icons white-text ">user</i>User
                <i class="material-icons right white-text" style="margin-right:0;">arrow_drop_down</i>
              </a>
              <div class="collapsible-body z-depth-3">
                <ul>
                  <li>
                    <a href="#">
                      <i class="material-icons">person</i>Profile</a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="material-icons">settings</i>Setting</a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="material-icons">help</i>Help</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">
                      <i class="material-icons">lock</i>Lock</a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="material-icons">exit_to_app</i>Logout</a>
                  </li>
                  <li>
                    <div class="divider"></div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
  
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Mobile</a>
        </li>
      </ul>
    </div>
    <div class="nav-content grey darken-4">
      <ul class="tabs tabs-transparent">
        <li class="tab">
          <a routerLink="https://ajlib2.localtunnel.me/images" routerLinkActive="active" #rndImg class="waves-effect waves-light teal-text text-lighten-3">RandomImages {{href}}</a>
        </li>
        <li class="tab">
          <a routerLink="/images/ascii" routerLinkActive="active" #asciify class="waves-effect waves-green teal-text text-lighten-3">Asciify</a>
        </li>
        <li class="tab">
          <a routerLink="/celeblikes" routerLinkActive="active" #celebCards class="waves-effect waves-yellow teal-text text-lighten-3">CelebCards</a>
        </li>
        <li class="tab">
          <a routerLink="/shop-cart" routerLinkActive="active" #shopCart class="waves-effect waves-orange teal-text text-lighten-3">ShoppingCart</a>
        </li>
        <li class="tab">
          <a routerLink="/books" routerLinkActive="active" #lib class="waves-effect waves-red teal-text text-lighten-3">Library</a>
        </li>
        <li class="tab disabled">
          <a href="#forFundMgrOnly">FundMgr</a>
        </li>
        <li class="tab">
          <a routerLink="/wealthFi/KYC" routerLinkActive="active" #lib class="waves-effect waves-purple teal-text text-lighten-3">Invest</a>
        </li>
      </ul>
    </div>
  
  
  </nav>
  
  <router-outlet></router-outlet>
  <!-- routed component views go here -->
