<div class="row valign-wrapper">
  <div class="col s6 m3">
    <div class="card hoverable sticky-action" max-height='300px' style="overflow: hidden;">
      <div class="card-image waves-effect waves-block waves-light">        
        <img id="imgPreview" alt="your image" [src]="localUrl" *ngIf="localUrl" class="activator imgPlaceholder" />
        <span class="card-title white-text">You picked: {{fileToSend.value}}
          <hr>{{picSrc}}
        </span>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Upload Identity Card Front Image
          <i class="material-icons right">more_vert</i>
        </span>
        <form method="POST" action="https://ajlib2.localtunnel.me/images/ascii" enctype="multipart/form-data">
          <input #fileToSend type="file" name="img" id="imgInp" accept=".*" (change)="showPreviewImage($event)">
          <input type="submit" value="Send" (click)="postImage(fileToSend.value)" />

        </form>
        <p>
          <a href="#!">This is a link</a>
        </p>
      </div>

      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>

      <div class="card-reveal" style="display: block; transform: translateY(-100%);">
        <span class="card-title grey-text text-darken-4">Card Title
          <i class="material-icons right">close</i>
        </span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <div class="col s6 m3">
    <p class="caption">
      You can make your card-action always visible by adding the class
      <code class=" language-markup">sticky-action</code> to the overall card.
    </p>
  </div>
  <div class="col s6">
    <br>

  </div>
</div>




<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating red">
        <i class="material-icons">insert_chart</i>
      </a>
    </li>
    <li>
      <a class="btn-floating yellow darken-1">
        <i class="material-icons">format_quote</i>
      </a>
    </li>
    <li>
      <a class="btn-floating green">
        <i class="material-icons">publish</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue">
        <i class="material-icons">attach_file</i>
      </a>
    </li>
  </ul>
</div>