<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
  <div class="valign" style="width:100%;">
      <div class="container">
         <div class="row">
            <div class="col s12 m10 offset-m2">
               <div class="card medium hoverable">
                  <div class="card-content">
                     <span class="card-title black-text">Login</span>
                     <form>
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Placeholder" id="firstname" type="text" class="validate">
                              <label for="firstname" class="active">First Name</label>
                           </div>
                        </div>
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Placeholder" id="lastname" type="text" class="validate">
                              <label for="lastname" class="active">Last Name</label>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="card-action">
                     <input type="submit" class="btn" value="Log In">
                  </div>
               </div>
            </div>
         </div>
      </div>
  </div>
</div>

<!-- <div class="s12 m3">
  <ul class="collapsible hoverable">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">filter_drama</i>ID Related</div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">place</i>Where I Live</div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">whatshot</i>Bank Details</div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
  </ul>
</div> -->


<!-- <nav>
	<div class="nav-wrapper">
		<div class="row">
			<div class="col s12">
				<a href="#!" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
				<a href="#!" class="brand-logo">Release: 1.0.0-alpha.3</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="https://github.com/dogfalo/materialize/" target="_blank">Github</a></li>
          <li><a href="https://twitter.com/MaterializeCSS" target="_blank">Twitter</a></li>
          <li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li>
				</ul>
			</div>			
		</div>
	</div>
</nav>


<ul id="mobile-demo" class="sidenav">
	<li>
		<div class="user-view">
		<div class="background">
			<img src="http://placehold.it/640/555">
		</div>
		<a href="#!"><img class="circle" src="http://placehold.it/640/333"></a>
		<a href="#!"><span class="white-text name">John Doe</span></a>
		<a href="#!"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
	</li>
	<li><a href="https://github.com/dogfalo/materialize/" target="_blank">Github</a></li>
	<li><a href="https://twitter.com/MaterializeCSS" target="_blank">Twitter</a></li>
	<li><a href="http://next.materializecss.com/getting-started.html" target="_blank">Docs</a></li>
	<li><div class="divider"></div></li>
	<li><a class="subheader">Subheader</a></li>
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header waves-effect">Dropdown<i class="material-icons">folder</i></a>
				<div class="collapsible-body">
					<ul>
						<li><a class="waves-effect" href="#!">First</a></li>
						<li><a class="waves-effect" href="#!">Second</a></li>
						<li><a class="waves-effect" href="#!">Third</a></li>
						<li><a class="waves-effect" href="#!">Fourth</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
	<li class="no-padding">
		<ul class="collapsible collapsible-accordion">
			<li>
				<a class="collapsible-header waves-effect">Dropdown<i class="material-icons">folder</i></a>
				<div class="collapsible-body">
					<ul>
						<li><a class="waves-effect" href="#!">First</a></li>
						<li><a class="waves-effect" href="#!">Second</a></li>
						<li><a class="waves-effect" href="#!">Third</a></li>
						<li><a class="waves-effect" href="#!">Fourth</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</li>
</ul>


<ul class="tabs">
	<li class="tab col s3"><a class="active" href="#test1">Test 1</a></li>
	<li class="tab col s3"><a href="#test2">Test 2</a></li>
	<li class="tab col s3"><a href="#test3">Test 3</a></li>
	<li class="tab col s3"><a href="#test4">Test 4</a></li>
</ul>
 -->