.card {margin-top: 0!important;}
#test1 {height:100vh; padding-top: 0.5rem; background-color: #eee;}
#test2 {height:100vh; padding-top: 0.5rem; background-color: yellow;}
#test3 {height:100vh; padding-top: 0.5rem; background-color: green;}
#test4 {height:100vh; padding-top: 0.5rem; background-color: blue;}