<div class="waves-effect waves-green btn black lime-text hoverable center" (click)="ngOnInit()">
  <span>Your Total Likes = {{totNumLikes}} -- Your Total Dislikes = {{totNumDislikes}}</span>
  <span>Click me to start again!</span>
</div>

<hr>
<br>

<div class="row">
  <div class="col s12 m3" *ngFor="let show of tinderCeleb">
    <div class="card medium hoverable" style="height: 40rem; width: 28rem;" *ngIf="show.show == true && show.likes <= 17">
      <div class="card-image">
        <img src="images/sample-1.jpg" src="{{show.pic}}" alt="Card image cap{{show.name}}">
        <span class="card-title">Wink Wink</span>
      </div>
      <div class="card-content">
        <p>Hi I am {{show.name}} [#{{show.id}}], Hit me?</p>
        <hr>
        <p class="card-content">Yes U Hit me
          <strong>{{show.likes}}</strong> times ! | So sad you didn't like me
          <strong>{{show.dislikes}}
          </strong> times..</p>
        <app-like-me [celebID]="show.id" (onLikeEvt)="onLikeEvt($event)">
        </app-like-me>
        &nbsp;
        <app-dislike-me [celebID]="show.id" (onDisLikeEvt)="onDisLikeEvt($event)">
        </app-dislike-me>
      </div>
    </div>
  </div>
  <hr>



  <!-- <br>
<div class="row">
  <div class="col s3" *ngFor="let show of tinderCeleb">
    <span class="card" style="height: 120px; width: 16rem;" *ngIf="show.show == true && show.likes <= 17">
      <img class="card-img-top" src="{{show.pic}}" alt="Card image cap{{show.name}}">
      <span class="card-content">
        <h5 class="card-title">Wink Wink</h5>
        <p class="card-content">Hi I am {{show.name}} [#{{show.id}}], Hit me?</p>
        <hr>
        <p class="card-content">Yes U Hit me {{show.likes}} times ! | So sad you didn't like me {{show.dislikes}} times..</p>
        <app-like-me [celebID]="show.id" (onLikeEvt)="onLikeEvt($event)">
        </app-like-me>
        &nbsp;
        <app-dislike-me [celebID]="show.id" (onDisLikeEvt)="onDisLikeEvt($event)">
        </app-dislike-me>
      </span>
    </span>
  </div>
</div>
<hr/>

<p>YourTotalLikes = {{totNumLikes}} -- YourTotalDislikes = {{totNumDislikes}}</p>
<p>Refresh this page to start again!</p> -->