<h6 style="text-align: center">
  Welcome to AJ-smart {{ title }} &copy; 2018!
</h6>
<hr>
<br>


<div class="container">
  <div class="row valign-wrapper">
    <div class="card col s12 m10 offset-m1 valign flex hoverable">
      <fieldset>
        <legend>
          <h6>Registration CARD
            <!--   <b *ngIf="userName.length!=0"> for : {{userName[0]}}</b> -->
            <b *ngIf="names[0]"> for : {{names[0]}}</b>
          </h6>
        </legend>

        <form #f="ngForm" (ngSubmit)="onSubmitSave(f)" novalidate>

          <!-- register3in1 -->
          <div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons right">account_circle</i>
                <input type="email" #emailID="ngModel" id="emailID" name="encEmailID" ngModel class="validate" placeholder="eg. johndoe@gmail.com"
                  required>
                <label for="emailID">subscribe / signUp / logIn email address</label>
                <button type="button" #subscribe title="subscribe e.g. johndoe@gmail.com" class="btn btn-small waves-effect waves-light blue lighten-3 hoverable"
                  [disabled]="!emailID.valid||pw.valid" (click)="reg3Get('subscribe', emailID.value, '')">
                  <strong style="color:darkblue">subscribe only</strong>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <i class="material-icons right">account_balance_wallet</i>
                <input type="password" #pw="ngModel" id="pw" name="encPW" ngModel class="validate" required>
                <label for="pw">secret password</label>
                <button type="button" #signUp title="signUp" class="btn btn-small waves-effect waves-light blue-grey hoverable" [disabled]="!(emailID.valid&&pw.valid)"
                  (click)="reg3Get('signUp', emailID.value, pw.value)">
                  signUp
                </button>
                <button type="button" #logIn title="logIn" class="btn btn-small waves-effect waves-light orange hoverable" [disabled]="!(emailID.valid&&pw.valid)"
                  (click)="reg3Get('logIn', emailID.value, pw.value)">logIn
                </button>
              </div>
              <p>Hi I'm Jane:
                <strong style="color: blue">{{data.serverStatusCode}}</strong>
              </p>
            </div>
            <br>
            <br>
          </div>

          <!-- POPULATE CART AND SAVE TO SERVER  -->
          <label>Add item to clntUserKYC </label>
          <div>
            <input type="text" placeholder="Enter new item into clntUserKYC" name="addToCart" #stack="ngModel" [(ngModel)]="newItem"
              required>
            <button #add type="button" [disabled]="!(stack.valid&&emailID.valid)" (click)='clntUserKYC.contents.push(stack.value)'>
              <strong style="color:darkblue">ADD</strong> To Cart</button>
            <button #pop type="button" [disabled]="(clntUserKYC.contents.length==0)" (click)='clntUserKYC.contents.pop(stack.value)'>
              <strong style="color:darkblue">POP</strong> From Cart</button>

            <p>Your clntUserKYC list has:
              <b>{{clntUserKYC.contents.length}} item(s)</b>, last saved: {{clntUserKYC.savedTime}}</p>
            <ul>
              <li *ngFor="let item of clntUserKYC.contents">
                <span>{{item}}</span>
              </li>
            </ul>
            <button #save type="submit" [disabled]="(clntUserKYC.contents.length<1)||(emailID.invalid)">
              <strong style="color:darkblue">SAVE</strong> New Cart</button>
          </div>


          <hr>
          <p>Entered: {{data | json}}</p>
            <hr>
            <p>KYC Model: {{clntUserKYC | json}}</p>
            <hr>

            <h4>Registration for wealthFi service</h4>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">face</i>Legal Identity Credentials</div>
                <div class="collapsible-body">
                  <div class="input-field">
                    <input type="text" #name="ngModel" id="name" name="legalName" [(ngModel)]="data.legalName" class="validate" placeholder="{{data.legalName}}"
                      required>
                    <label for="name">
                      <strong class="blue-grey darken-4 orange-text">LEGAL FULL NAME</strong> per national ID-document/NRIC ordering (each part-name separated by space,
                      no comma)
                    </label>
                  </div>
                  <div class="input-field">
                    <input type="text" #IDNum="ngModel" id="IDNum" name="legalIDCred" [(ngModel)]="data.legalIDCred" class="validate" placeholder="{{data.legalIDCred}}"
                      required>
                    <label for="name">
                      <strong class="blue-grey darken-4 orange-text">NRIC/PASSPORT#</strong> per national ID-document/NRIC</label>
                  </div>

                  <div class="col s12 m12">
                    <h5 class="header">Upload NRIC/ID-document image..</h5>
                    <div class="card s6 m6 horizontal">
                      <div class="card-image">
                        <img style="height: 150px" id="imgPreviewFront" alt="your image" [src]="localUrlFront" *ngIf="localUrlFront" class="activator imgPlaceholder"
                        />
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>front .. accepts *.jpg *.png</p>
                        </div>
                        <div class="card-action">
                          <form method="POST" action="localhost:6507/images/ascii" enctype="multipart/form-data">
                            <input type="file" #photoIDFrontToSend id="photoIDFrontToSend" name="photoIDFrontToSend" accept=".*" (change)="showPreviewImageFront($event)">
                            <input type="submit" value="Send" />
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="card s6 m6 horizontal">
                      <div class="card-image">
                        <img style="height: 150px" id="imgPreviewBack" alt="your image" [src]="localUrlBack" *ngIf="localUrlBack" class="activator imgPlaceholder"
                        />
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>back .. accepts *.jpg *.png</p>
                        </div>
                        <div class="card-action">
                          <form method="POST" action="localhost:6507/images/ascii" enctype="multipart/form-data">
                            <input type="file" #photoIDBackToSend id="photoIDBackToSend" name="photoIDBackToSend" accept=".*" (change)="showPreviewImageBack($event)">
                            <input type="submit" value="Send" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="row">
                  <div class="card s12 m3 hoverable sticky-action" max-height='50px' style="overflow: hidden;">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img id="imgPreview" alt="your image" [src]="localUrl" *ngIf="localUrl" class="activator imgPlaceholder" />
                      <span class="card-title white-text">You picked: {{fileToSend.value}}
                        <hr>{{picSrc}}
                      </span>
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Upload Identity Card Front Image
                        <i class="material-icons right">more_vert</i>
                      </span>
                      <form method="POST" action="localhost:6507/images/ascii" enctype="multipart/form-data">
                        <input type="file" #fileToSend id="img" name="img" accept=".*" (change)="showPreviewImage($event)">
                        <img [src]="localUrl" />
                        <input type="submit" value="Send" />

                      </form>

                    </div>


                    <div class="card-reveal" style="display: block; transform: translateY(-100%);">
                      <span class="card-title grey-text text-darken-4">Send Front Image (*.jpg, *.png)
                        <i class="material-icons right">close</i>
                      </span>
                      <p>Please upload your NRIC/ID-document image here..</p>
                    </div>
                  </div>
                </div> -->

                  <!--                 <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <label>Choose NRIC/ID-document</label>
                      <div class="file-field input-field">
                        <div class="row">
                          <button type="button" #photoIDFrontURL class="btn btn-small waves-effect waves-light orange hoverable" [disabled]="IDNum.invalid">
                            <span>Front Image File</span>
                            <input type="file" />
                          </button>
                        </div>
                        <br>
                        <div class="row">
                          <button type="button" #photoIDBackURL class="btn btn-small waves-effect waves-light orange hoverable" [disabled]="IDNum.invalid">
                            <span>Back Image File</span>
                            <input type="file" />
                          </button>
                        </div>

                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Upload file" />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <label>Materialize Multi File Input</label>
                      <div class="file-field input-field">
                        <div class="btn">
                          <span>Browse</span>
                          <input type="file" multiple />
                        </div>

                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Upload multiple files" />
                        </div>
                      </div>
                    </div>
                  </form>
                </div> -->


                  <div class="row">
                    <label>
                      <strong class="blue-grey darken-4 orange-text">DATE OF BIRTH</strong>
                    </label>
                    <input type="date" #DOB id="DOB" name="DOB" class="datepicker">
                  </div>

                  <!--                 <div class="input-field col s12">
                  <select>
                    <option value="0" disabled selected>Choose your option</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                  <label>Gender</label>
                </div> -->

                </div>
              </li>

              <li>
                <div class="collapsible-header">
                  <i class="material-icons">place</i>Contact & Address</div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">phone</i>
                      <input type="text" #tellID="ngModel" id="tellID" name="tellID" [(ngModel)]="data.mobileNum" class="validate" placeholder="{{data.mobileNum}}"
                        required>
                      <label for="mobileNum">Mobile Contact</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input type="text" #postCode="ngModel" id="postCode" name="postCode" [(ngModel)]="data.address.postCode" class="validate"
                        placeholder="{{data.address.postCode}}" required>
                      <label for="postCode">Postal Code</label>
                    </div>
                    <div class="input-field col s12">
                      <input type="text" #postStreet="ngModel" id="postStreet" name="postStreet" [(ngModel)]="data.address.postStreet" class="validate"
                        placeholder="{{data.address.postStreet}}" required>
                      <label for="postStreet">Postal Street</label>
                    </div>
                    <div class="input-field col s12">
                      <input type="text" #postBlock="ngModel" id="postBlock" name="postBlock" [(ngModel)]="data.address.postBlock" class="validate"
                        placeholder="{{data.address.postBlock}}" required>
                      <label for="postBlock">Postal Block</label>
                    </div>
                    <div class="input-field col s12">
                      <input type="text" #postUnit="ngModel" id="postUnit" name="postUnit" [(ngModel)]="data.address.postUnit" class="validate"
                        placeholder="{{data.address.postUnit}}" required>
                      <label for="postUnit">Postal Unit</label>
                    </div>
                  </div>

                </div>
              </li>

              <li>
                <div class="collapsible-header">
                  <i class="material-icons">fingerprint</i>Bank Verification</div>
                <div class="collapsible-body">
                  <div class="input-field">
                    <input type="text" #bankName="ngModel" id="bankName" name="bankName" [(ngModel)]="data.bank['bankName']" class="validate"
                      placeholder="{{data.bank['bankName']}}" required>
                    <label for="bankName">
                      <strong class="blue-grey darken-4 orange-text">BANK NAME</strong>
                    </label>
                  </div>
                  <div class="input-field">
                    <input type="text" #bankAcct="ngModel" id="bankAcct" name="bankAcct" [(ngModel)]="data.bank['bankAcct']" class="validate"
                      placeholder="{{data.bank['bankAcct']}}" required>
                    <label for="bankAcct">
                      <strong class="blue-grey darken-4 orange-text">BANK ACCT#</strong>
                    </label>
                  </div>

                  <div class="col s12 m12">
                    <h5 class="header">Upload Bank-document image..</h5>
                    <div class="card s6 m6 horizontal">
                      <div class="card-image">
                        <img style="height: 150px" id="imgPreviewBank" alt="your image" [src]="localUrlBank" *ngIf="localUrlBank" class="activator imgPlaceholder"
                        />
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>Please upload scan image/document copies of your LATEST BANK STATEMENT of no more than 3 MONTHS
                            earlier from this signup. The images must include your name, bank account number, postal address
                            for verification purposes .. accepts *.jpg *.png *.pdf</p>
                        </div>
                        <div class="card-action">
                          <form>
                            <div class="row">
                              <label>Multi File Input</label>
                              <div class="file-field input-field">
                                <div class="btn">
                                  <span>Choose Files</span>
                                  <input type="file" #photoIDBankToSend id="photoIDFrontToSend" name="photoIDBankToSend" accept=".*" (change)="showPreviewImageBank($event)"
                                    multiple />
                                </div>

                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text" placeholder="Upload multiple files" />
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <textarea #textAnnotNotaryOthers id="textAnnotNotaryOthers" name="textAnnotNotaryOthers" class="materialize-textarea"></textarea>
                      <label for="address">Enter notary information here..</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input type="text" #clntNotes id="clntNotes" name="clntNotes" placeholder="Previous client note(s).." disabled />
                      <label for="clntNotes">Notes</label>
                    </div>
                  </div>
                </div>
              </li>
            </ul>






        </form>

      </fieldset>



    </div>
  </div>
</div>


<!-- <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating red">
        <i class="material-icons">insert_chart</i>
      </a>
    </li>
    <li>
      <a class="btn-floating yellow darken-1">
        <i class="material-icons">format_quote</i>
      </a>
    </li>
    <li>
      <a class="btn-floating green">
        <i class="material-icons">publish</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue">
        <i class="material-icons">attach_file</i>
      </a>
    </li>
  </ul>
</div> -->